h1 *{
    font-size: 28pt;
}
@font-face {
    font-family: 'DS-DIGI';
    src: url('./fonts/ds_digital/DS-DIGI.TTF'); /* Replace 'path/to' with the actual path to your font file */
  }

.toptitle p span{
    color: #9FB179 !important;
text-shadow: 1px 1.4px 1.4px  rgba(0, 0, 0, 0.25) ;
line-height: normal;
}

.main_title{
    line-height: 1.3;
    
}
.precision_margin{
    margin-top: 2.8em;
}

/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
  color:#0C1F85;
  font-size: 48pt;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  
}
/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.21em rgb(255, 255, 255); 
  
  left: 0;
  z-index: -1;
}
/* add a double stroke */
.stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.5em #0C1F85;
  left: 0;
  z-index: -2;
}


.rla{
    position: absolute;
    width: 100%;
}
.rla_image{

object-fit: cover;

}

.fill{
    min-height: 700px;
}


.capitolo {
    margin-bottom: 1em;
}
@media(min-width: 300px)and (max-width: 767px) {
    .corpus *{
        font-size: 12pt !important;
    }
    .capitolo *{
        font-size: 22pt !important;
    }
    
    .maincontainer{
        transform: scale(.8);
    }
    .fill{
        min-height: auto;
    }
    .rla_image{
height: 100% !important;




}
.main_title{
    transform: scale(1.3);
}
.contatti{
    transform: scale(.8);
}
.main_player{
    transform: scale(2) translate(25%) !important;
}
.main_title *{
    
    font-size:35px ;
}
.small-top-distance{
    margin-top: 2em !important;    

}
.toptitle{
    margin-top: 1.3em !important;
    margin-bottom: 1.3em !important;
}

.binupsec{
    padding: 2em;
}
}

#bin *{
    --input-width:100% !important;
    
}

.oi-ec050e-input>input[type=number]{
    width: 80px;
}

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; 
  }
  input[type="range"]::-moz-range-track {  
    background-color: #9a905d;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7; 
  }
  input[type="range"]::-ms-fill-upper {  
    background-color: #9a905d;
  }
    .top-distance{
        margin-bottom: 10em;
    }

    .small-top-distance{
        margin-top: 6em;
    }
    .lfloat {
        float: left;
        margin-right: .7em !important;
        opacity: 1;
    }
    .float {
        float: right;
        margin-right: .7em !important;
        opacity: 1;
    }

    .rfloat {
        float: right;
        margin-right: .1em !important;
        opacity: 1;
    }
    .titl {

        text-align: center;
        margin: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-anchor: middle;



    }

   


    html,
    body {
        scroll-behavior: smooth !important;
        max-width: 100%;
        overflow-x: hidden;
    }

    .blocker {
        display: block !important;
        cursor: pointer;
        z-index: 10;
        background-color: #0C1F85;
    }

    .card {
        background-color: aqua;
    }

    #scrolly {
        padding-left: 10em;
        padding-right: 10em;

    }

    @media(min-width: 300px)and (max-width: 767px) {
        #scrolly {
            padding-left: 1em;
            padding-right: 1em;

        }

        .c_title span{
            font-size: 20px;
        }
    }

    .big-card {

        background-color: #FFFFFF;
        position: absolute;
        width: 418px;
        height: auto;
        top: 0;
        border: 6.5px dashed #000000;
        box-shadow: 17px 13px 0px #F7EDED;
        z-index: -1;
        opacity: 0;
        margin-left: auto; 
        margin-right: auto; 
  
    }

    .recta {
        position: absolute;
        width: 406px;
        height: 162px;
        left: 0px;
        top: 0px;

        background: linear-gradient(180deg, #F6EDED 0%, rgba(246, 237, 237, 0) 100%);
        z-index: -1;
    }

    .secondary-tag {
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: .9em;
        padding-right: .9em;
        background: #E1EDFF;
        border-radius: 20px;

    }

    .primary-tag {
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: .9em;
        padding-right: .9em;
        border: 1px solid #B4C5FF;
        border-radius: 20px;
    }

    #chart{
        z-index: -1;
    }


::selection {
    color: black;
    background: #B1F30D;
  }
  
  .svg-tooltip {
    background: rgba(69,77,93,.9);
    border-radius: .3rem;
    color: #fff;
    display: block;
    font-size: 11px;
    max-width: 320px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
}

/* .circle{
    -webkit-filter:drop-shadow(-3px 4px 0px black);
    filter:drop-shadow(-3px 4px 0px black);
    
} */

.play-pause{
    cursor: pointer;
    transform:scale(1.3)
}

.stopwatch a {
    display: none;
  }
  
  .stopwatch span {
    font-weight: bold;
    display: block;
    font-family: 'DS-DIGI';
    font-weight: 100;
    font-size: 41px;
    line-height: 1.2;
    padding-left: .2em;
    color: #CA0100;
  }
  
  .stopwatch a {
    padding-right: 5px;
    text-decoration: none;
  }

  .anchor{
    position: relative;
  }


  .main_timer{
    font-weight: bold;
    display: block;
    font-family: 'DS-DIGI';
    font-weight: 100;
    font-size: 37px !important;
    line-height: 1.2;
    padding-left: .13em !important;
    color: #CA0100;
  }

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      
      -webkit-appearance: none;
      background-color: #b8c596;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 30px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 30px;
      cursor: ew-resize;
      background: #000000;
      box-shadow: -220px 0 0 220px #B1F30D;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #B1F30D; 
}
input[type="range"]::-moz-range-track {  
  background-color: #BFF14D;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #BFF14D;
}

#a-timer{
    display: none;
}
.subtext{
    color: #FFF;
font-family: JetBrains Mono;
font-size: 8.24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.binlabel{
    font-family: Arial, Helvetica, sans-serif;
}
.linkcontact{
    transform: scale(.9);
}